//app-color
$color_primary: #EA5932;
$color_secondary: #F2F2F2;
$color-third:#00335E;
$color_dark: #707070;
$color_dark-light: #D2D3D6;
$color_dark-lighten:#acadad;

//text-color
$color_primary_text: #141414;
$color_secondary_text: #707070;
$color-light-text:#ffffff;

//aux-color
$color_primary_aux: #40DB2D;
$color_secondary_aux: #FF0000;
$color_third_aux: #E1930E;

$header_table_color:rgba(163, 163, 163, 0.71);

//font
$font_text:"Roboto-Regular",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$font_text_bold:"Roboto-Bold","Roboto-Regular","Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$font_text_light:"Roboto-Light","Roboto-Regular","Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";